*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #9BA4AB;
    align-items: center;
}
.calculator{
    padding: 1.5rem;
    border: 2px solid rgb(134, 129, 129);
    border-radius: 1rem;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.5);
}
input{
    width: 18rem;
    direction: ltr;     /* Ensures left-to-right text direction */
    /* overflow: scroll;   Prevents scrolling issues */
    overflow-x: auto;
    white-space: nowrap;                
    /* height: 3rem; */
    text-align: right;
    padding: 1.3rem;
    margin: 0.7rem;
    background: rgba(255,255, 255, 0.5);
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;
    font-size: 2.5rem;
}
input::placeholder{
    color: #fff;
    font-weight: 900;
}

button{
    width: 62px;
    height: 62px;
    margin: 5px;
    font-size: 1.2rem;
    /* color: #ffffff; */
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    border: 2px solid rgba(255,255, 255, 0.5);
    background-color: #000000;
    color: #fff;
    /* opacity: 1; */
}
.ac ,.del,.operator{
    /* background-color: #000000; */
    color: #f67c14;
    /* color: #fff; */
}
.eqalBtn{
    background-color: #f67c14;
    color: #fff;
}